@use './variables';
@use './mixins/btnMenuHover';

/*--Ajout code message Projet étudant--*/

.messageProjetEtudant {
    z-index: 2;
    position: fixed;
    width: 100%;
    padding: 2vw 100px;
    box-shadow: 0 1px 5px variables.$noirPoudre;
    background-color: variables.$noirPoudre;
    display: grid;
    grid-template-columns: 50vw 40vw 5vw;

    &__msg {
        align-self: center;
        color: variables.$blancSel;
    }
    &__btn {
        @include btnMenuHover.btnBlanc;
        margin: 0 2vw;
        padding: 2px 5px;
        width: 10vmin;
        align-self: center;
        justify-self: end;
        a {
            text-decoration: none;
            color: variables.$noirPoudre;
        }
        svg {
            margin-left: 5px;
            align-self: center;
            width: 2vh;
            path {
              fill: variables.$noirPoudre;
            }
        }
        &:hover {
            background-color: variables.$noirPoudre;
            color: variables.$blancSel;
            a {
                color: variables.$blancSel;
            }
            svg {
                path {
                    fill: variables.$blancSel;
                }
            }
        }
    }
    &__closeBtn {
        svg {
            width: 24px;
            aspect-ratio: 1/1;
            path {
              transition-duration: 0.2s;
              transition-timing-function: linear;
            }
            &:hover {
              path {
                stroke: variables.$lavandrepetant;
              }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .messageProjetEtudant {
        grid-template-columns: 100vw;
        grid-template-rows: 20vh 10vh 10vh;
        &__msg {
            width: 80vw;
            grid-row: 1;
        }
        &__btn {
            grid-row: 2;
        }
        &__closeBtn {
            grid-row: 1;
        }
    }
}

@media screen and (max-width: 1400px) {
    .messageProjetEtudant {
        grid-template-columns: 40vw auto 5vw;
    }
}


/*--Fin Ajout code message Projet étudant--*/