@charset "UTF-8";
/*----------KENZA: Variables de font-size telephone------------------------*/
/*----------KENZA: Variables de font-size desktop------------------------*/
/*KENZA: Note à parler avant remise: Mettre un padding dans les boutons +s'assurer que le font-weight soit le même en tout temps*/
/*Joshua*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 200vh;
}

.navbar {
  background-color: white;
  margin-top: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  text-decoration: none;
  z-index: 1000;
}
.navbar .logo img {
  position: relative;
  width: 150px;
}
.navbar ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul li {
  position: relative;
  list-style: none;
}
.navbar ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
}

.nav-content {
  margin-top: 120px;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.btn {
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.btn:hover {
  background-color: #E1E5F2;
  background-size: 120% 25%;
}

.btnBleu {
  padding: 10px;
  border: none;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 25px;
  background-color: #022B3A;
  color: #ffffff;
  font-weight: bold;
}
.btnBleu:hover {
  background-color: #ffffff;
  color: #022B3A;
  border: 1px solid #022B3A;
}

.btnB {
  padding: 10px;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 25px;
  background-color: #ffffff;
  color: #022B3A;
  border: 1px solid #022B3A;
  font-weight: bold;
}
.btnB:hover {
  background-color: #022B3A;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.burgerIcon {
  display: none;
}

.burgerBtn {
  display: none;
  position: absolute;
  top: 20px;
  right: 50px;
  width: 35px;
}

#logoBurger {
  display: none;
}

@media screen and (max-width: 1300px) {
  .navbar {
    margin-top: 120px;
  }
  .nav-content {
    margin-top: 0;
    position: absolute;
    background-color: rgb(255, 255, 255);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -100%;
  }
  .nav-content.mobile-menu {
    margin-left: 0;
  }
  .nav-content ul {
    display: flex;
    flex-direction: column;
  }
  .burgerBtn {
    display: block;
  }
  header ul li {
    margin: 25px 15px;
    font-size: 1.5em;
  }
  .btnN {
    padding: 8px;
    font-size: 0.8em;
  }
  .btnB {
    padding: 8px;
    font-size: 0.8em;
  }
  #logoBurger {
    display: block;
  }
  #logoNormal {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    margin-top: 205px;
  }
}
@media screen and (max-width: 467px) {
  .navbar {
    margin-top: 250px;
  }
}
@media screen and (min-width: 1400px) {
  .nav-content {
    width: 1400px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1300px) and (max-width: 1400px) {
  .nav-content {
    width: 1300px;
    margin: 0 auto;
  }
  .navbar {
    margin-top: 121px;
  }
}
.noMarginTop {
  margin-top: 0;
}

/*-----------------KENZA: footer pour telephone !--------------------*/
footer {
  display: block;
  background-color: #E1E5F2;
  font-size: 16px;
  /*--------------KENZA: Styles Pour le logo du footer------------------------------*/
  /*--------------KENZA: Styles Pour le bloc partenaire du footer------------------------------*/
  /*--------------KENZA: Styles Pour le bloc réseaux sociaux du footer------------------------------*/
  /*--------------KENZA: Styles Pour le bloc des liens du footer------------------------------*/
  /*--------------KENZA: Éléments autres------------------------------*/
}
footer .svg__logo--complet {
  padding-top: 28px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
}
footer .footer__partenaire {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 28px;
}
footer .footer__partenaire .img__partenaire {
  margin-top: 0;
  width: 180px;
}
footer .footer__sociaux {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 28px;
}
footer .footer__sociaux .footer__link {
  margin: 10px;
}
footer .footer__group--link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
footer .footer__group--link .footer__list {
  margin-top: 28px;
  padding: 0;
}
footer .footer__group--link li {
  padding-top: 10px;
  opacity: 0.8;
}
footer .footer__group--link li:hover {
  opacity: 1;
}
footer .footer__group--link .footer__list--contact {
  width: 70%;
}
footer .footer__group--link .footer__list--info {
  width: 45%;
}
footer .footer__group--link .footer__list--flhlmq {
  width: 45%;
}
footer .footer__group--link .footer__title {
  font-size: 1.2em;
}
footer a {
  color: #2A2A2A;
  text-decoration: none;
}
footer .footer__ligne {
  padding: none;
  margin-top: 28px;
  margin-bottom: 10px;
  height: 2px;
  width: 100%;
  background-color: #2A2A2A;
  opacity: 0.2;
}
footer .footer__link {
  font-weight: 500;
  text-decoration: none;
}
footer .copyright {
  margin-top: 28px;
  text-align: center;
}
footer .footer__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 28px;
  margin-bottom: 28px;
}
footer .footer__btn button {
  font-size: 1.5em;
}

/*---------------KENZA: media queries tablette---------------*/
@media screen and (min-width: 768px) {
  footer .svg__logo--complet {
    margin-left: 30px;
    width: 25%;
    display: inline-block;
    margin: none;
  }
  footer .footer__partenaire {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 60%;
    margin-top: 28px;
  }
  footer .footer__partenaire .img__partenaire {
    width: 29%;
  }
  footer .footer__ligne {
    margin-top: 56px;
  }
  footer .footer__sociaux {
    width: 15%;
    display: inline-block;
    margin-left: 20px;
  }
  footer .footer__group--link {
    display: inline-block;
    width: 90%;
    text-align: left;
    margin-left: 30px;
  }
  footer .footer__group--link .footer__list--contact {
    display: inline-block;
    width: 20%;
  }
  footer .footer__group--link .footer__list--info {
    vertical-align: top;
    margin-left: 42%;
    display: inline-block;
    width: 10%;
  }
  footer .footer__group--link .footer__list--flhlmq {
    vertical-align: top;
    display: inline-block;
    margin-left: 10%;
    width: 15%;
  }
  footer .footer__group--link .footer__title {
    font-size: 1em;
  }
  footer .copyright {
    display: inline-block;
    width: 50%;
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left: 30px;
    text-align: left;
  }
  footer .footer__btn {
    position: absolute;
    display: inline-block;
    right: 30px;
  }
  footer .footer__btn button {
    font-size: 1em;
  }
}
/*---------------KENZA: media queries desktop---------------*/
@media screen and (min-width: 1400px) {
  footer {
    font-size: 24px;
  }
  footer .svg__logo--complet {
    display: inline-block;
  }
  footer .footer__partenaire {
    padding-top: 22px;
    margin-right: 120px;
    margin: 0;
    width: 55%;
  }
  footer .footer__partenaire .img__partenaire {
    width: 30%;
  }
  footer .footer__group--link .footer__list--info {
    margin-left: 49%;
  }
  footer .footer__group--link .footer__list--flhlmq {
    margin-left: 5%;
  }
  footer .footer__group--link .footer__title {
    font-size: 1em;
  }
  footer .footer__btn {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  footer .copyright {
    margin-top: 50px;
  }
}
/*--Ajout code message Projet étudant--*/
.msgEtudantBG {
  background-color: #2A2A2A;
  box-shadow: 0 1px 5px #2A2A2A;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.messageProjetEtudant {
  z-index: 1;
  padding: 2vw 0;
  margin: 0;
  background-color: #2A2A2A;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 40px auto 80px;
}
.messageProjetEtudant__msg {
  padding: 0 5vw;
  text-align: center;
  align-self: center;
  color: #ffffff;
  grid-row: 2;
}
.messageProjetEtudant__btn {
  grid-row: 3;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 25px;
  background-color: #ffffff;
  color: #022B3A;
  border: 1px solid #022B3A;
  font-weight: bold;
  margin: 0 2vw;
  padding: 5px 10px;
  width: 100px;
  align-self: center;
  justify-self: center;
}
.messageProjetEtudant__btn:hover {
  background-color: #022B3A;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.messageProjetEtudant__btn a {
  text-decoration: none;
  color: #2A2A2A;
}
.messageProjetEtudant__btn svg {
  margin-left: 5px;
  align-self: center;
  width: 2vh;
}
.messageProjetEtudant__btn svg path {
  fill: #2A2A2A;
}
.messageProjetEtudant__btn:hover {
  background-color: #2A2A2A;
  color: #ffffff;
}
.messageProjetEtudant__btn:hover a {
  color: #ffffff;
}
.messageProjetEtudant__btn:hover svg path {
  fill: #ffffff;
}
.messageProjetEtudant__closeBtn {
  margin-right: 25px;
  justify-self: end;
  grid-row: 1;
}
.messageProjetEtudant__closeBtn svg {
  width: 24px;
  aspect-ratio: 1/1;
}
.messageProjetEtudant__closeBtn svg path {
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.messageProjetEtudant__closeBtn svg:hover path {
  stroke: #D7E0FF;
}

@media screen and (min-width: 768px) {
  .messageProjetEtudant {
    width: 95vw;
    margin: 0 auto;
    grid-template-columns: 50% auto 5%;
    grid-template-rows: none;
  }
  .messageProjetEtudant__msg {
    padding: 0;
    text-align: left;
    grid-row: none;
  }
  .messageProjetEtudant__btn {
    grid-row: none;
    justify-self: end;
  }
  .messageProjetEtudant__closeBtn {
    grid-row: none;
  }
}
@media screen and (min-width: 1400px) {
  .messageProjetEtudant {
    width: 1400px;
    margin: 0 auto;
    grid-template-columns: 1000px auto auto;
  }
  .messageProjetEtudant__msg {
    padding: 0;
    text-align: left;
  }
  .messageProjetEtudant__btn {
    justify-self: end;
  }
  .messageProjetEtudant__closeBtn {
    margin: 0;
  }
}
.displayNone {
  display: none;
}

/*--Fin Ajout code message Projet étudant--*/
.services {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.services h2 {
  margin-top: 50px;
  text-align: center;
}
.services p {
  width: 80%;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.services .services__background {
  border-radius: 30px;
  z-index: -1;
  position: absolute;
  width: 90vw;
  height: 700px;
  background: linear-gradient(#ffffff 5%, #E1E5F2 20%);
}
.services .services__cards {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 95%;
  min-height: 350px;
}
.services .services__cards .service {
  margin: 20px;
  padding: 25px;
  border-radius: 25px;
  width: 70%;
  height: auto;
  background-color: #2A2A2A;
  display: grid;
  gap: 10px 0;
  color: #ffffff;
  transition-duration: 0.2s;
}
.services .services__cards .service__titre {
  font-size: 20px;
  font-weight: bold;
  grid-column: span 2;
  grid-row: 1;
  color: #ffffff;
}
.services .services__cards .service__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: end;
  grid-column: 3;
  grid-row: 1;
  width: 30px;
  aspect-ratio: 1/1;
  background-color: #E1E5F2;
  border-radius: 5px;
}
.services .services__cards .service__icon svg {
  fill: #2A2A2A;
  width: 18px;
}
.services .services__cards .service__line {
  grid-column: span 3;
  grid-row: 2;
}
.services .services__cards .service__line hr {
  height: 1px;
  color: #ffffff;
  background-color: #ffffff;
  border: none;
}
.services .services__cards .service__info {
  grid-column: span 3;
  grid-row: 3;
  margin-bottom: 25px;
}
.services .services__cards .service__btn {
  border: none;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0em;
  padding-right: 2em;
  border-radius: 25px;
  background-color: #D7E0FF;
  color: #2A2A2A;
  font-weight: bold;
  position: relative;
  padding-left: 0.5em;
  width: 120px;
  height: 35px;
  grid-column: 1;
  grid-row: 4;
}
.services .services__cards .service__btn:hover {
  background-color: #2A2A2A;
  color: #D7E0FF;
  border: 1px solid #D7E0FF;
}
.services .services__cards .service__btn .btn__fleche {
  position: absolute;
  width: 16px;
  margin-left: 5px;
}
.services .services__cards .service:hover {
  transform: translateY(-30px);
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.5);
}

/*---------------KENZA: media queries tablette---------------*/
@media screen and (min-width: 768px) {
  .services h2 {
    margin-top: 70px;
  }
  .services p {
    font-size: 22px;
  }
  .services .services__cards {
    margin-top: 150px;
  }
  .services .services__cards .service {
    width: 40%;
  }
}
/*---------------KENZA: media queries desktop---------------*/
@media screen and (min-width: 1440px) {
  .services h2 {
    margin-top: 300px;
  }
  .services p {
    font-size: 36px;
  }
  .services .services__cards .service {
    width: 20%;
  }
}
.temoignages {
  /*Victor*/
  /*display: grid;
    grid-template-areas:
  "svg svg svg"
  "titre titre titre"
  "margeTem margeTem margeTem";*/
  /*fin Victor*/
  overflow-x: hidden;
  width: 99vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 170vh;
  background: linear-gradient(#ffffff, #2A2A2A 1%, #2A2A2A 50%, #ffffff 100%);
}
.temoignages svg {
  grid-area: svg;
  width: 100%;
}
.temoignages__titre {
  text-align: center;
  grid-area: titre;
  margin-top: 50px;
  color: #E1E5F2;
}
.temoignages .temoignage--un {
  grid-area: myArea1;
}
.temoignages .temoignage--deux {
  grid-area: myArea2;
}
.temoignages .temoignage--trois {
  grid-area: myArea3;
}
.temoignages .marge__tem {
  display: grid;
  grid-template-areas: "myArea1 myArea1 myArea1" "myArea2 myArea2 myArea2" "myArea3 myArea3 myArea3";
  width: 100%;
  max-width: 1400px;
  margin: auto;
}
.temoignages .marge__tem .temoignage {
  color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
}
.temoignages .marge__tem .temoignage:nth-of-type() {
  background-color: #E1E5F2;
}
.temoignages .marge__tem .temoignage:nth-of-type(1) .tem__img {
  background-image: url("./medias/img/accueil_temoin_01.jpg");
}
.temoignages .marge__tem .temoignage:nth-of-type(2) .tem__img {
  background-image: url("./medias/img/accueil_temoin_02.jpg");
}
.temoignages .marge__tem .temoignage:nth-of-type(3) .tem__img {
  background-image: url("./medias/img/accueil_temoin_03.jpg");
}
.temoignages .marge__tem .temoignage__titre {
  grid-column: span 4;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}
.temoignages .marge__tem .temoignage__titre p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 20px;
}
.temoignages .marge__tem .temoignage div.tem.cat {
  background-color: #D7E0FF;
}
.temoignages .marge__tem .temoignage .tem {
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 25px #000;
  border-radius: 0 25px 25px 25px;
  height: 20vh;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
  color: #2A2A2A;
  display: grid;
  grid-template-rows: 20vh;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.temoignages .marge__tem .temoignage .tem__img {
  grid-column: 1;
  background-size: cover;
  background-position: center;
  aspect-ratio: 1/1;
  height: 100%;
  width: 90%;
}
.temoignages .marge__tem .temoignage .tem__info {
  padding-left: 0;
  padding-right: 10px;
  width: 100%;
  font-style: italic;
  font-size: 14px;
  align-self: center;
  grid-column: 2/span 4;
}

@media screen and (min-width: 768px) {
  .temoignages {
    grid-template-areas: "svg svg svg" "titre titre titre";
  }
  .temoignages .marge__tem {
    width: 90%;
    grid-template-areas: "myArea1 myArea1 myArea1" "myArea2 myArea2 myArea2" "myArea3 myArea3 myArea3";
  }
  .temoignages .marge__tem .temoignage .tem__info {
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .temoignages {
    grid-template-areas: "svg svg svg" "titre titre titre";
  }
  .temoignages .marge__tem {
    grid-template-areas: "myArea1 myArea1 ." ". myArea2 myArea2" "myArea3 myArea3 .";
  }
  .temoignages .marge__tem .temoignage .tem__img {
    background-position-y: 50%;
  }
  .temoignages .marge__tem .temoignage .tem__info {
    font-size: 24px;
  }
}
.hero.marginNoMsg {
  margin-top: 10vh;
}

.hero {
  margin-top: 300px;
  width: 100%;
  padding: 0 20px;
  height: auto;
}
.hero__container {
  margin: auto;
  height: 100%;
  max-width: 1400px;
  display: grid;
  grid-template-columns: 100%;
}
.hero__container .info {
  font-family: "Raleway";
  padding: 25px;
  text-align: center;
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-rows: auto auto auto;
}
.hero__container .info__nomEntreprise {
  grid-row: 1;
  grid-column: 1;
  align-self: center;
  font-size: 36px;
}
.hero__container .info__msgEntreprise {
  grid-row: 2;
  grid-column: 1;
  align-self: center;
  font-size: 72px;
}
.hero__container .info__msgEntreprise em {
  font-style: normal;
  font-size: 100px;
  background-image: url(./medias/img/hero_background_svg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-family: "JustMe";
}
.hero__container .info__msgEntreprise em strong {
  font-weight: normal;
  font-family: "JustMe";
  color: #1F7A8C;
}
.hero__container .info__btn {
  width: 250px;
  margin: 2vh 0;
  align-self: center;
  font-size: 24px;
  padding: 1vh 3vw;
}
.hero__container .info__btn--un {
  border: none;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 25px;
  background-color: #2A2A2A;
  color: #ffffff;
  font-weight: bold;
  justify-self: center;
  grid-row: 3;
}
.hero__container .info__btn--un:hover {
  background-color: #ffffff;
  color: #2A2A2A;
  border: 1px solid #2A2A2A;
}
.hero__container .info__btn--deux {
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 25px;
  background-color: #ffffff;
  color: #022B3A;
  border: 1px solid #022B3A;
  font-weight: bold;
  justify-self: center;
  grid-row: 4;
}
.hero__container .info__btn--deux:hover {
  background-color: #022B3A;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.hero__container .info__btn--deux svg {
  margin-left: 10px;
  width: 25px;
}
.hero__container .info__btn--deux svg path {
  fill: #022B3A;
}
.hero__container .info__btn--deux:hover svg path {
  fill: #ffffff;
}
.hero__container .swiper {
  z-index: 2;
  margin: 5vh 0;
  justify-self: center;
  width: 80%;
  aspect-ratio: 3/4;
  grid-column: 1;
  grid-row: 2;
}
.hero__container .swiper .swiper-pagination {
  bottom: -2px;
  position: absolute;
}
.hero__container .swiper .swiper-slide__img {
  width: 100%;
  height: 95%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  border-radius: 25px;
}

@media screen and (min-width: 768px) {
  .hero.marginNoMsg {
    margin-top: 6vh;
  }
  .hero {
    margin-top: 200px;
  }
  .hero__container .info {
    grid-template-rows: auto auto auto;
  }
  .hero__container .info__nomEntreprise {
    grid-column: span 2;
  }
  .hero__container .info__msgEntreprise {
    grid-column: span 2;
  }
  .hero__container .info__btn {
    grid-row: 4;
  }
  .hero__container .info__btn--un {
    margin-right: 2vw;
    grid-column: 1;
    justify-self: end;
  }
  .hero__container .info__btn--deux {
    justify-self: start;
    grid-column: 2;
  }
  .hero__container .swiper {
    width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  .hero.marginNoMsg {
    margin-top: 6vh;
  }
  .hero {
    margin-top: 150px;
  }
  .hero__container {
    grid-template-columns: 60% 40%;
  }
  .hero__container .info {
    text-align: left;
    grid-column: 1;
    grid-row: 1;
    grid-template-rows: none;
  }
  .hero__container .info__nomEntreprise {
    align-self: center;
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .hero__container .info__msgEntreprise {
    align-self: center;
    grid-row: 3/4;
    grid-column: 1/3;
  }
  .hero__container .info__btn {
    grid-row: 4;
  }
  .hero__container .info__btn--un {
    justify-self: start;
  }
  .hero__container .info__btn--deux {
    justify-self: start;
    margin-right: 120px;
  }
  .hero__container .swiper {
    width: 100%;
    aspect-ratio: 3/5;
    align-self: center;
    grid-column: 2;
    grid-row: 1;
  }
}
.actualites {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  height: 80vh;
}
.actualites__titre {
  width: 100%;
  justify-self: center;
  color: #022B3A;
}

.swiper-nav {
  height: 5vh;
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: end;
}
.swiper-nav button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.swiper-nav svg {
  width: 40px;
  margin: 0 10px;
}
.swiper-nav svg path {
  fill: #022B3A;
}
.swiper-nav svg:hover path {
  fill: #1F7A8C;
}
.swiper-nav .btn-prev svg {
  transform: rotateY(-180deg);
}

.swiper {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  align-self: center;
  height: 60vh;
}
.swiper .swiper-slide {
  justify-content: center;
  position: relative;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
}
.swiper .swiper-slide--nouv1 .actualite__img {
  background-image: url("./medias/img/accueil_carte_01.jpg");
}
.swiper .swiper-slide--nouv2 .actualite__img {
  background-image: url("./medias/img/accueil_carte_01.jpg");
}
.swiper .swiper-slide--nouv3 .actualite__img {
  background-image: url("./medias/img/accueil_carte_02.jpg");
}
.swiper .swiper-slide--nouv4 .actualite__img {
  background-image: url("./medias/img/accueil_carte_03.jpg");
}

.actualite {
  font-family: "Raleway";
  width: 400px;
  padding: 0 20px;
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 20px 80px auto 10px;
}
.actualite__date {
  margin-bottom: 20px;
  color: #022B3A;
  font-weight: 600;
  grid-row: 1;
  height: 100%;
}
.actualite__desc {
  font-size: 20px;
  grid-row: 2;
  padding: 10px 0;
}
.actualite__desc p {
  line-height: 20px;
}
.actualite__desc:hover p {
  background-image: url(./medias/img/hero_background_svg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.actualite__img {
  position: relative;
  grid-row: 3/6;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.actualite__btn {
  border: none;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 25px;
  background-color: #022B3A;
  color: #ffffff;
  font-weight: bold;
  margin-top: 10px;
  grid-row: 6;
  width: 100px;
  max-height: 40px;
}
.actualite__btn:hover {
  background-color: #ffffff;
  color: #022B3A;
  border: 1px solid #022B3A;
}

@media screen and (max-width: 1400px) {
  .swiper {
    height: 70%;
  }
  .actualite {
    width: 500px;
    grid-template-rows: 20px 80px auto 20px;
  }
  .actualite__date {
    font-size: 20px;
  }
  .actualite__desc {
    font-size: 26px;
  }
}
@media screen and (max-width: 768px) {
  .swiper {
    height: 70%;
  }
  .actualite {
    grid-template-rows: 20px 80px auto 20px;
  }
  .actualite__date {
    font-size: 20px;
  }
  .actualite__desc {
    font-size: 26px;
  }
}
.membre {
  width: 100%;
  height: 100vh;
  max-height: 120vh;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.membre .appelAction {
  z-index: -1;
  margin: 0;
  overflow: hidden;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  text-align: center;
  background-image: url(./medias/img/accueil_devenir_membre_montreal.jpg);
  width: 80%;
  height: 600px;
  background-size: 250%;
  background-position: center;
  border-radius: 25px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Raleway";
}
.membre .appelAction--over {
  position: absolute;
  z-index: 1;
  border-radius: 25px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 600px;
  visibility: visible;
  pointer-events: visible;
}
.membre .appelAction__svgLine {
  position: absolute;
  bottom: -13vh;
  right: 10px;
}
.membre .appelAction__svgLine svg {
  width: 25px;
}
.membre .appelAction__titre {
  font-size: 48px;
  margin-bottom: 25px;
}
.membre .appelAction__text {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.membre .appelAction__btn {
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 25px;
  background-color: #ffffff;
  color: #022B3A;
  border: 1px solid #022B3A;
  font-weight: bold;
  font-size: 48px;
  border-radius: 100px;
}
.membre .appelAction__btn:hover {
  background-color: #022B3A;
  color: #ffffff;
  border: 1px solid #ffffff;
}

@media screen and (min-width: 768px) {
  .membre .appelAction {
    background-size: 180%;
  }
}
.apropos {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  aspect-ratio: 16/9;
  background-image: url("./medias/img/accueil_a_propos.jpg");
  background-size: cover;
}
.apropos__text {
  color: white;
  font-size: 6vw;
  text-align: center;
  line-height: 20px;
  margin-bottom: 5px;
}
.apropos__content {
  z-index: 2;
  margin: 0 auto;
  width: 1400px;
}
.apropos__vector {
  position: absolute;
  width: 60vw;
  z-index: 1;
}
.apropos__btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
}
.apropos__desc {
  width: 70%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 27%;
  font-size: 2vw;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 10px rgb(0, 0, 0);
  font-weight: 500;
}

.btnBs {
  font-size: 2.5vmin;
  text-align: center;
  border: none;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 50px;
  background-color: #ffffff;
  color: #1F7A8C;
  font-weight: bold;
}
.btnBs:hover {
  background-color: #1F7A8C;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.recherchebar {
  width: 100vw;
  background-color: #E1E5F2;
  padding: 50px;
}
.recherchebar__text {
  text-align: center;
  font-size: 1.5em;
}
.recherchebar__content {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 15px;
}

.search {
  --padding: 1vw;
  justify-self: end;
  width: 100%;
  display: flex;
  align-items: center;
  padding: var(--padding);
  border-radius: 28px;
  background-color: white;
}

.search-input {
  font-size: 3.5vw;
  margin-left: var(--padding);
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .recherchebar__content {
    grid-template-columns: 1fr 2fr;
    gap: 0;
    max-width: 1200px;
    margin: 0 auto;
  }
  .search {
    width: 35vw;
    justify-self: end;
    max-width: 500px;
  }
  .search-input {
    font-size: 16px;
    width: 35vw;
    max-width: 500px;
  }
}
@media screen and (min-width: 1400px) {
  .recherchebar__content {
    width: 1400px;
    margin: 0 auto;
  }
}
.abonnement {
  width: 100vw;
  padding: 50px 0;
}

.membership {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}
.membership__form {
  width: 25vmin;
  display: flex;
  align-items: center;
  background-color: white;
  margin-right: 10px;
}
.membership__input {
  font-size: 16px;
  margin-left: var(--padding);
  outline: none;
  border-radius: 28px;
  background: transparent;
  width: 25vmin;
  padding: 1.3vmin;
}
.membership__text {
  color: black;
  font-size: 32px;
  grid-column: span 2;
  text-align: center;
  margin-bottom: 10px;
}
.membership__btn {
  justify-self: center;
  font-size: 1vw;
  padding: 1.3vmin;
}
.membership__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 1400px) {
  .membership__content {
    flex-direction: column;
  }
  .membership__form {
    width: 40vmin;
    margin: 10px 0px;
  }
  .membership__input {
    width: 40vmin;
  }
  .membership__btn {
    font-size: 2vw;
  }
}
@media screen and (max-width: 768px) {
  .membership__form {
    width: 75vmin;
  }
  .membership__text {
    font-size: 4vw;
  }
  .membership__input {
    width: 75vmin;
    padding: 1.5vmin;
  }
  .membership__btn {
    font-size: 5vmin;
  }
}
@font-face {
  font-family: "Raleway";
  src: url(./medias/fonts/Raleway/Raleway-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "JustMe";
  src: url(./medias/fonts/Just_Me_Again_Down_Here/JustMeAgainDownHere-Regular.ttf) format("truetype");
}
/*---------------KENZA: size telephone---------------*/
* {
  font-family: Raleway;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 36px;
  color: #ffffff;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  color: #2A2A2A;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  color: #2A2A2A;
  font-weight: medium;
}

/*---------------KENZA: media queries tablette---------------*/
@media screen and (min-width: 768px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 32px;
  }
}
/*---------------KENZA: media queries desktop---------------*/
@media screen and (min-width: 1400px) {
  h1 {
    font-size: 96px;
  }
  h2 {
    font-size: 64px;
  }
  h3 {
    font-size: 32px;
  }
}
header ul li a {
  color: #2A2A2A;
}/*# sourceMappingURL=style.css.map */