@use 'partials-scss/variables';
@use 'partials-scss/mixins/mixins';
@use 'partials-scss/menu';
@use 'partials-scss/footer';

@font-face {
    font-family: 'Raleway';
    src: url(./medias/fonts/Raleway/Raleway-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: 'JustMe';
    src: url(./medias/fonts/Just_Me_Again_Down_Here/JustMeAgainDownHere-Regular.ttf) format('truetype');
}

/*---------------KENZA: size telephone---------------*/

*{
    font-family: Raleway;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: variables.$blancSel;
}

ul{
    list-style-type: none;
}

h1{
    font-size: 36px;
    color: variables.$blancSel;
    font-weight: bold;
}

h2{
    font-size: 32px;
    color: variables.$noirPoudre;
    font-weight: bold;
}

h3{
    font-size: 24px;
    color: variables.$bleuNuit;
    font-weight: medium;
}

/*---------------KENZA: media queries tablette---------------*/

@media screen and (min-width: 768px) {

    
    h1{
        font-size: 64px;
    }
    
    h2{
        font-size: 48px;
    }
    
    h3{
        font-size: 32px;
    }
 }

/*---------------KENZA: media queries desktop---------------*/
@media screen and (min-width: 1400px) {


    h1{
        font-size: 96px;
    }
    
    h2{
        font-size: 64px;
    }
    
    h3{
        font-size: 32px;
    }
        }

header ul li a {
  color: variables.$noirPoudre;
}