@charset "UTF-8";
/*----------KENZA: Variables de font-size telephone------------------------*/
/*----------KENZA: Variables de font-size desktop------------------------*/
/*KENZA: Note à parler avant remise: Mettre un padding dans les boutons +s'assurer que le font-weight soit le même en tout temps*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 200vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  text-decoration: none;
}

.desktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  text-decoration: none;
}

header .logo img {
  position: relative;
  width: 150px;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
}

.btn {
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.btn:hover {
  background-color: #E1E5F2;
  background-size: 120% 25%;
}

.btnN {
  border: none;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  padding: 0.2em;
  border-radius: 25px;
  background-color: #2A2A2A;
  color: #ffffff;
}
.btnN:hover {
  background-color: #ffffff;
  color: #2A2A2A;
  border: 1px solid #2A2A2A;
}

.btnB {
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  padding: 0.2em;
  border-radius: 25px;
  background-color: #ffffff;
  color: #2A2A2A;
  border: 1px solid #2A2A2A;
}
.btnB:hover {
  background-color: #2A2A2A;
  color: #ffffff;
}

.burgerIcon {
  display: none;
}

@media screen and (max-width: 900px) {
  .desktop {
    display: none;
  }
}
/*--------------KENZA: note à sois même, les & fonctionnent pas, essayer de clean up un peu plus------------------------------*/
/*-----------------KENZA: footer pour telephone !--------------------*/
footer {
  margin-top: 100%;
  padding: 20px;
  display: block;
  background-color: #E1E5F2;
  font-size: 16px;
  /*--------------KENZA: Styles Pour le logo du footer------------------------------*/
  /*--------------KENZA: Styles Pour le bloc partenaire du footer------------------------------*/
  /*--------------KENZA: Styles Pour le bloc réseaux sociaux du footer------------------------------*/
  /*--------------KENZA: Styles Pour le bloc des liens du footer------------------------------*/
  /*--------------KENZA: Éléments autres------------------------------*/
}
footer .footer__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer .footer__logo .svg__logo--complet {
  width: 70%;
}
footer .footer__partenaire {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 28px;
}
footer .footer__partenaire .img__partenaire {
  margin-top: 0;
  width: 180px;
}
footer .footer__sociaux {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 28px;
}
footer .footer__sociaux .footer__link {
  margin: 10px;
}
footer .footer__group--link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
footer .footer__group--link .footer__list {
  margin-top: 28px;
  padding: 0;
}
footer .footer__group--link li {
  padding-top: 10px;
}
footer .footer__group--link .footer__list--contact {
  width: 70%;
}
footer .footer__group--link .footer__list--info {
  width: 45%;
}
footer .footer__group--link .footer__list--flhlmq {
  width: 45%;
}
footer .footer__group--link .footer__title {
  font-size: 1.2em;
}
footer a {
  color: #2A2A2A;
}
footer .footer__ligne {
  padding: none;
  margin-top: 28px;
  margin-bottom: 10px;
  height: 2px;
  width: 100%;
  background-color: #2A2A2A;
  opacity: 0.2;
}
footer .footer__link {
  font-weight: 500;
  text-decoration: none;
}
footer .copyright {
  margin-top: 28px;
  text-align: center;
}
footer .footer__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 28px;
}
footer .footer__btn button {
  font-size: 1.5em;
}

/*---------------KENZA: media queries tablette---------------*/
@media screen and (min-width: 768px) {
  footer .footer__logo {
    display: inline-block;
    width: 60%;
  }
  footer .footer__logo .svg__logo--complet {
    width: 50%;
  }
  footer .footer__partenaire {
    display: inline-block;
    width: 70%;
    padding-left: 15%;
    margin-top: 0;
    position: absolute;
    right: 0;
  }
  footer .footer__ligne {
    margin-top: 56px;
  }
  footer .footer__sociaux {
    width: 15%;
    display: inline-block;
  }
  footer .footer__group--link {
    display: inline-block;
    width: 100%;
    text-align: left;
  }
  footer .footer__group--link .footer__list--contact {
    display: inline-block;
    width: 30%;
  }
  footer .footer__group--link .footer__list--info {
    vertical-align: top;
    padding-left: 15%;
    display: inline-block;
    width: 25%;
  }
  footer .footer__group--link .footer__list--flhlmq {
    vertical-align: top;
    display: inline-block;
    padding-left: 15%;
    width: 25%;
  }
  footer .footer__group--link .footer__title {
    font-size: 1em;
  }
  footer .copyright {
    display: inline-block;
    width: 50%;
    margin-top: 28px;
    text-align: left;
  }
  footer .footer__btn {
    display: inline-block;
    padding-left: 22%;
  }
}
/*---------------KENZA: media queries desktop---------------*/
@media screen and (min-width: 1400px) {
  footer {
    font-size: 24px;
  }
  footer .footer__partenaire .img__partenaire {
    width: 250px;
  }
  footer .footer__group--link .footer__title {
    font-size: 2em;
  }
  footer .footer__btn {
    padding-left: 28%;
  }
}
@font-face {
  font-family: "Raleway";
  src: url(./medias/fonts/Raleway/Raleway-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "JustMe";
  src: url(./medias/fonts/Just_Me_Again_Down_Here/JustMeAgainDownHere-Regular.ttf) format("truetype");
}
/*---------------KENZA: size telephone---------------*/
* {
  font-family: Raleway;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 36px;
  color: #ffffff;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  color: #2A2A2A;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  color: #022B3A;
  font-weight: medium;
}

/*---------------KENZA: media queries tablette---------------*/
@media screen and (min-width: 768px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 32px;
  }
}
/*---------------KENZA: media queries desktop---------------*/
@media screen and (min-width: 1400px) {
  h1 {
    font-size: 96px;
  }
  h2 {
    font-size: 64px;
  }
  h3 {
    font-size: 32px;
  }
}
header ul li a {
  color: #2A2A2A;
}/*# sourceMappingURL=style.css.map */