@use '../variables';

@mixin btnBlanc {
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 25px;
    background-color: variables.$blancSel;
    color: variables.$bleuNuit;
    border: 1px solid variables.$bleuNuit;
    font-weight: bold;
    &:hover {
        background-color: variables.$bleuNuit;
        color: variables.$blancSel;
        border: 1px solid variables.$blancSel;
    }
}

@mixin btnNoir {
    border: none;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 25px;
    background-color: variables.$noirPoudre;
    color: variables.$blancSel;
    font-weight: bold;
    &:hover {
        background-color: variables.$blancSel;
        color: variables.$noirPoudre;
        border: 1px solid variables.$noirPoudre ;
    }


}

@mixin btnBleu {
    border: none;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 25px;
    background-color: variables.$bleuNuit;
    color: variables.$blancSel;
    font-weight: bold;
    &:hover {
        background-color: variables.$blancSel;
        color: variables.$bleuNuit;
        border: 1px solid variables.$bleuNuit ;
    }
}

@mixin btnLavendreS {
    border: none;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0em;
    padding-right: 2em;
    border-radius: 25px;
    background-color: variables.$lavandrepetant;
    color: variables.$noirPoudre;
    font-weight: bold;
    &:hover {
        background-color: variables.$noirPoudre;
        color: variables.$lavandrepetant;
        border: 1px solid variables.$lavandrepetant ;
    }
}

@mixin btnLavendre {
    border: none;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0em;
    padding-right: 1em;
    border-radius: 25px;
    background-color: variables.$lavandrepetant;
    color: variables.$noirPoudre;
    font-weight: bold;
    &:hover {
        background-color: variables.$noirPoudre;
        color: variables.$lavandrepetant;
        border: 1px solid variables.$lavandrepetant ;
    }
}

@mixin btnBlancSarcelle {
    border: none;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 50px;
    background-color: variables.$blancSel;
    color: variables.$bleuSarcelle;
    font-weight: bold;
    &:hover {
        background-color: variables.$bleuSarcelle;
        color: variables.$blancSel;
        border: 1px solid variables.$blancSel;
    }
}

@mixin btnLavendreSH {
    border: none;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0em;
    padding-right: 2em;
    border-radius: 25px;
    background-color: variables.$noirPoudre;
    color: variables.$lavandrepetant;
    font-weight: bold;
    &:hover {
        background-color: variables.$lavandrepetant;
        color: variables.$noirPoudre;
        border: 1px solid variables.$noirPoudre;
    }
}