@use '../variables';

@mixin btnMenuHover {
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    &:hover {
        background-color: variables.$bleuSarcelle;
        background-size: 120% 25%;
    }
}