@use '../variables';

@mixin btnMenuHover {
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    &:hover {
        background-color: variables.$LavandreCendre;
        background-size: 120% 25%;
    }
}

@mixin btnBlanc {
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    padding: 0.2em;
    border-radius: 25px;
    background-color: variables.$blancSel;
    color: variables.$noirPoudre;
    border: 1px solid variables.$noirPoudre;
    &:hover {
        background-color: variables.$noirPoudre;
        color: variables.$blancSel;
    }
}

@mixin btnNoir {
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    padding: 0.2em;
    border-radius: 25px;
    background-color: variables.$noirPoudre;
    color: variables.$blancSel;
    &:hover {
        background-color: variables.$blancSel;
        color: variables.$noirPoudre;
        border: 1px solid variables.$noirPoudre ;
    }
}