@use '../variables';

@mixin btnBlanc {
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 25px;
    background-color: variables.$blancSel;
    color: variables.$bleuNuit;
    border: 1px solid variables.$bleuNuit;
    &:hover {
        background-color: variables.$bleuNuit;
        color: variables.$blancSel;
        border: 1px solid variables.$blancSel;
    }
}

@mixin btnNoir {
    border: none;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 25px;
    background-color: variables.$noirPoudre;
    color: variables.$blancSel;
    &:hover {
        background-color: variables.$blancSel;
        color: variables.$noirPoudre;
        border: 1px solid variables.$noirPoudre ;
    }


}

@mixin btnBleu {
    border: none;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 25px;
    background-color: variables.$bleuNuit;
    color: variables.$blancSel;
    &:hover {
        background-color: variables.$blancSel;
        color: variables.$bleuNuit;
        border: 1px solid variables.$bleuNuit ;
    }
}